[submodule "themes/next-sub"]
	path = themes/next-sub
	url = https://github.com/theme-next/hexo-theme-next
	branch = master
[submodule "themes/cake"]
	path = themes/cake
	url = https://github.com/JiangTJ/hexo-theme-cake
