# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: Dnocm ☀
subtitle: 若白驹过隙，忽然而已
description: 
author: Mr.J
language: zh-CN
timezone: Asia/Shanghai

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: https://www.dnocm.com
root: /
permalink: articles/:title/
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:
  - cover/**

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace:

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: next-sub

favicon: /images/Smile.ico

search:
  path: search.xml
  field: post

# sitemap
sitemap:
  path: sitemap.xml
baidusitemap:
  path: baidusitemap.xml

# 静态资源
github:
  assets: https://jiangtj.github.io/assets

# config hexo-generator-i18n
i18n:
  type: [page, post]
  generator: [index, archive, category, tag]

# ... 标准M与GFM不同
marked:
  breaks: false

pwa:
  manifest:
    path: /manifest.json
    body:
      name: Dnocm Blog
      short_name: dnocm
      lang: zh-CN
      start_url: .
      display: standalone
      background_color: "#fff"
      icons:
        - src: /images/favicon/xin-32.png
          sizes: 32x32
          type: image/png
        - src: /images/favicon/xin-192.png
          sizes: 192x192
          type: image/png
        - src: /images/favicon/xin-512.png
          sizes: 512x512
          type: image/png
  serviceWorker:
    path: /sw.js
    preload:
      urls:
        - /
      posts: 5
    opts:
      networkTimeoutSeconds: 5
    routes:
      # - pattern: !!js/regexp /hm.baidu.com/
      #   strategy: networkOnly
      - pattern: !!js/regexp /.*\.(js|css|jpg|jpeg|png|gif)$/
        strategy: cacheFirst
      - pattern: !!js/regexp /\//
        strategy: networkFirst
  priority: 5

live2d:
  enable: true
  scriptFrom: local
  pluginRootPath: live2dw/
  pluginJsPath: lib/
  pluginModelPath: assets/
  tagMode: false
  debug: false
  model:
    use: live2d-widget-model-epsilon2_1
  display:
    superSample: 2
    width: 150
    height: 300
    position: right
    hOffset: 0
    vOffset: -65
  mobile:
    show: false
  react:
    opacityDefault: 0.7
    opacityOnHover: 0.2

feed:
  type: rss2
  path: rss2.xml
  limit: 20
  hub:
  content:
  content_limit: 140
  content_limit_delim: ' '
  order_by: -date

theme_config:
  baidu_site_verification: xtf2YgRPUK
  google_site_verification: TWf4Ma3V7xRcvKFWw_1iOCJKgNJmUUB1CmLucKjvV2A
  #links:
    #Mzeht: http://mzeht.com/
    #你很棒: http://www.cnblogs.com/lovelinux199075/
    #leiqjl: http://www.cnblogs.com/leiqjl
  #social:
    #Find More Mine Site: https://jiangtj.gitlab.io/cover || heart
  menu:
    home: / || home
    tags: /tags/ || tags
    categories: /categories/ || th
    archives: /archives/ || archive
    #sitemap: /sitemap.xml || sitemap
    #commonweal: /404/ || heartbeat
    更多:
      default: /more/ || info-circle
      我: https://www.dnocm.com/cover || heart
      数据: https://chro.j-time.cn/sources/1/dashboards/2 || sitemap
      schedule: /schedule/ || calendar
      公告: /update/ || cogs
      工具: /tools/ || briefcase
      VPN: /vpn/ || plane
