.live2d-widget-dialog-container {
  margin-right: -1.5rem;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

// track 
::-webkit-scrollbar-track {
  
}

// Handle style
::-webkit-scrollbar-thumb {
  border-radius: 10px;  
  background: rgba(0,0,0,0.2);   
}

// inactive style
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.1);
}

// hover style
::-webkit-scrollbar-thumb:hover{
  background-color: rgba(0,0,0,0.3);
}

// active style
::-webkit-scrollbar-thumb:active{
  background-color: rgba(0,0,0,0.4);
}

img.lozad {
  width: 100%;
}

.pin-top-msg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  z-index:99;
  background-color: #697079;
  opacity: .9;
  box-shadow: 0 0 2px #697079;
  color: #efefef;
  text-align: center;
  line-height: 3rem;
  font-size: 1rem;
  display: none;
  white-space: nowrap;

  a {
    color: #fff;
    font-weight: bold;
  }

  i {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 3rem;
    padding: 0 1rem;
    display: block;
    cursor: pointer;
  }

  i:hover {
    background-color: #343434
  }
}
