::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

// track 
::-webkit-scrollbar-track {
  
}

// Handle style
::-webkit-scrollbar-thumb {
  border-radius: 10px;  
  background: rgba(0,0,0,0.2);   
}

// inactive style
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.1);
}

// hover style
::-webkit-scrollbar-thumb:hover{
  background-color: rgba(0,0,0,0.3);
}

// active style
::-webkit-scrollbar-thumb:active{
  background-color: rgba(0,0,0,0.4);
}

.sidebar-toggle {
  margin-bottom: 18px;
}

img.lozad {
  width: 100%;
}

.live2d-widget-dialog-container {
  margin-right: -1.5rem;
}

.gitter-open-chat-button {
  background-color: slateblue;
  margin-bottom: .4rem;
  margin-right: 1rem;
  padding: .4rem .8rem;
  border-radius: .6rem;
  box-shadow: 0px 0px 0.4rem #111;
  opacity: .9;
}

.gitter-open-chat-button:hover {
  background-color: slateblue;
  box-shadow: 0px 0px 0.8rem #111;
}
