<section class='m_widget about'>
<% if(config.avatar) { %>
<img class='avatar waves-image' src='<%= relative_url(config.url, config.avatar) %>' />
<%} %>
<div class='header'><%=config.author %></div>
<div class='content'>
<div class='desc'><%=config.description %></div>
</div>
</section>